<app-topbar [topBarData]="path"></app-topbar>
<div class="card">
  <p-card>
    <p-dropdown [options]="tableType" [(ngModel)]="value" placeholder="Select a Table" appendTo="body"
      (onChange)="fetchList($event.value)" [showClear]="true"></p-dropdown>
  </p-card>
</div>
<div class="card" style="margin-top: 5px" *ngIf="tableName!=''">

  <div class="row margin25">
    <div>
      <p-card>
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
        <br>
        <p-tabView  scrollable="true" [controlClose]="true" (onClose)="handleClose($event)" >
          <p-tabPanel header="Default" leftIcon="pi pi-calendar">
            <app-gridview-analysis [tableName]="tableName"></app-gridview-analysis>
          </p-tabPanel>
          <p-tabPanel   leftIcon="pi pi-user"   closable="true"   *ngFor="let view of criteriaViews;let i = index;" [header]="view.name">
            <ng-template pTemplate="content" >
              <div>
                <!-- Content {{i}} -->
                <app-gridview-analysis [tableName]="tableName" [criteriaContent]="view.content"></app-gridview-analysis>
              </div>
            </ng-template>

          </p-tabPanel>
        </p-tabView>

      </p-card>
    </div>

  </div>
</div>