<div class="row">
    <div  class="{{displayViewColumnSection || displayAdvanceFiltersComponents ? 'col-md-8' : 'col-md-12'}}">
      <div class=" row">
        <div class="col-lg-7">
          <app-employee-default-filters *ngIf="tableName=='EMPLOYEE'"   (filterListChange)="updatedFilterList($event)"
            [expand]="displayViewColumnSection"></app-employee-default-filters>
        </div>
        <div class="col-lg-5">
          <button (click)="onExportDataClick()" type="button" class="btn-apply advance-filter-button pull-right">
            Export
            Data </button>
          <button (click)="onViewColumnsClick()" type="button" class="btn-apply advance-filter-button pull-right">
            View
            Columns </button>
          <button (click)="onAdvanceFiltersClick()" type="button" class="btn-apply advance-filter-button pull-right">
            Advance Filters </button>
        </div>
      </div>
      <div class="row">
        <div class="py-2" *ngIf="payloadFiltersList">
          <strong class="custom-text">Search Result: &nbsp;</strong>
          <span class="custom-text" *ngFor="let filter of payloadFiltersList; let i = index">
            <span class="badge badge-pill badge-primary" *ngIf="filter.operator!='Number_Range' && filter.value!=''">
              <strong>{{filter.field | uppercase}}: </strong>
              <strong *ngIf="filter.operator=='Ends_with' || filter.operator=='Equals'  || filter.operator=='Date_is'  || filter.operator=='Number_Range'">:</strong>
              <strong *ngIf="filter.operator=='Not_Equals'">!=</strong>
              <strong *ngIf="filter.operator=='Starts_with'">^=</strong>
              <strong *ngIf="filter.operator=='Ends_with'">&=</strong>
              <strong *ngIf="filter.operator=='Less_than_or_equal_to'"> <= </strong>
              <strong *ngIf="filter.operator=='Greater_than'">></strong>
              <strong *ngIf="filter.operator=='Greater_than_or_equal_to'">>=</strong>
              <strong *ngIf="filter.operator=='Date_is_BEFORE'"><</strong>
              <strong *ngIf="filter.operator=='Date_is_AFTER'">></strong>
              <span *ngIf="filter.operator!='Number_Range'"> {{filter.value}} </span>
            </span>
            <span class="badge badge-pill badge-primary" *ngIf="filter.operator=='Number_Range'">
              <strong>{{filter.field | uppercase}}: </strong>
              <span *ngIf="filter.operator=='Number_Range'"> {{filter.value1}} To {{filter.value2}} </span>
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <app-data-analyser-table [payloadFilters]="payloadFiltersList" [tableName]="tableName"
          [columnWithTypes]="columnWithTypes" [showableColumn]="showableColumn" [payloadCriteriaView]="criteriaPayload" [queryCriteriaView]="criteriaQuery" ></app-data-analyser-table>

      </div>
    </div>
    <div class="col-md-4" *ngIf="displayAdvanceFiltersComponents">
      <mat-card style="height: 100%;">
        <app-advance-filter (filterListChange)="updatedFilterList($event)" [columnWithTypes]="columnWithTypes" [tableName]="tableName">
        </app-advance-filter>
      </mat-card>
    </div>
    <div class="col-md-4" *ngIf="displayViewColumnSection">
      <mat-card style="height: 100%;" class="txt-lbl">
        <h3>Select Columns to View</h3>
        <hr class="mb2-mt2" />
        <div class="ui-g" style="margin-bottom:10px;margin-top: 20px;">
          <div class="ui-g-2">
            <p-checkbox binary="true" [(ngModel)]="selectAllColumns" (onChange)="checkAllValue()" inputId="R">
            </p-checkbox> Select All
          </div>
        </div>
        <div class="ui-g" style="margin-bottom:10px;" *ngFor="let column of columnHeaders; let i = index">
          <div class="ui-g-2">
            <p-checkbox binary="true" [style]="{'background': '#333333'}" [(ngModel)]="permissions[i]"
              (onChange)="checkSingleColumn()"></p-checkbox>
            {{column | titlecase}}
          </div>
        </div>
        <mat-card-actions>
          <button (click)="onApplyColumnsView()" type="button" class="btn-apply advance-filter-button"> Apply
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>