<div class="toolbar" role="banner">
    <img src="../../assets/ey-logo.png">
    <span>
        <h3 style="padding-left: 10px;margin-bottom: 0px;">Excel Data Analyser</h3>
    </span>
  <div class="spacer"></div>
  <div>
    <!-- <button mat-button [hidden]="isDataMapping" style="background-color:green;margin-left: 2px;
        color:white" (click)="navigateToDataMapping()">Data Mapping</button> -->
    <button mat-button *ngIf="isDataAnalysis"  style="background-color:green;margin-left: 2px;
        color:white" >Data Definition</button>
    <button mat-button   [disabled]="isDataIngestion" [ngStyle]="{'background-color': (isDataIngestion == true) ? 'grey' : 'green' }" style="margin-left: 2px;
        color:white" (click)="navigateToDataIngestion()">Data Ingestion</button>
    <button mat-button [disabled]="isDataAnalysis" [ngStyle]="{'background-color': (isDataAnalysis == true) ? 'grey' : 'green' }" style="margin-left: 2px;
        color:white" (click)="navigateToDataAnalysis()">Data Analysis</button>
  </div>

</div>
