
<nav class="navbar navbar-expand-lg " role="banner" xmlns="http://www.w3.org/1999/html">
  <img src="../../assets/ey-logo.png">
  <span>
        <h3 style="padding-left: 10px;margin-bottom: 0px;">Excel Data Analyser</h3>
    </span>
  <div class="spacer"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Data Ingestion</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="disableDataMapping ? null : ['../dataMapping/']" [class.disabled]="disableDataMapping ? 'true' : 'false'"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">Data Mapping</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/dataAnalysis']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Data Analyser</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" tooltipPosition="bottom"  pTooltip="Under Construction"  data-toggle="tooltip" data-placement="bottom" title="Work in Progress!">
            Data Definition
        </a>
      </li>
    </ul>
  </div>
</nav>
