<form>
  <div class="col-md-12 col-sm-12 col-lg-12" *ngIf="headerElements.length>0" style="overflow-y: auto;" >
    <table class="table table-hover">
      <thead>
      <tr>
        <th *ngFor="let head of headerElements"  class="txt" scope="col"  (click)="sort(head)">
          {{head | uppercase}}
          <ng-container *ngIf="head">
            <i class="fa text-warning" [ngClass]="{
              'fa-sort-asc': (this.sortBy === head && sortType===1),
              'fa-sort-desc': (this.sortBy === head && sortType===-1),
              'fa-sort text-muted': this.sortBy !== head
            }"></i>
          </ng-container>
  
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of tableDetails">
        <td *ngFor="let head of headerElements">
          {{employee[head]}}
        </td>
      </tr>
      </tbody>
    </table>
    <pagination (pageSizeChange)="gotoPage($event)" [totalItems]="total" [size]="pageSize" [currentPage]="page"></pagination>
  
  </div>

  <!-- <div class="d-flex justify-content-between p-2">
  </div> -->

</form>
