
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm">
                <option>Equels </option>
                <option>Not Equels </option>
              </select>
        </div>
        <div class="col-sm-3">
            <input type="input" class="form-control-sm" id="staticEmail" placeholder="Type email here..">
        </div>
      </div>
      <mat-card-actions>
        <p-button   type="button" class="pt-2" style=" 
        float: right; margin-right: 30px;">Apply</p-button>
      </mat-card-actions>
    

