<select *ngIf="columnInfo.type==='String'" [(ngModel)]="textCriteriaModel"  #myTextCriteria 
(change)='onSelect(columnInfo.key,myTextCriteria.value,inputTextValueModel)' class="form-control-sm full-width">
    <option [value]="temp.value" *ngFor="  let temp of textCriteria">
      {{ temp.label }}
    </option>
  </select>
  <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="columnInfo.type==='String'">
    <input type="input" [(ngModel)]="inputTextValueModel" (keyup)="inputChanges(columnInfo.key,textCriteriaModel,myTextInput.value)" class="form-control-sm full-width" 
    #myTextInput  placeholder="Type here..">
  </div>

  <select *ngIf="columnInfo.type==='Number'"  
  [(ngModel)]="numberCriteriaModel" #myNumberCriteria 
  (change)='onSelect(columnInfo.key,myNumberCriteria.value,inputNumberValueModel)'
    class="form-control-sm full-width">
    <option [value]="temp.value" *ngFor="  let temp of numberCriteria">
      {{ temp.label }}
    </option>
  </select>
  <!-- {{numberCriteriaModel}} -->
<div *ngIf="columnInfo.type==='Number' && numberCriteriaModel=='Number_Range'"  >
  <div>
    <p>Min value: <input type="number" [(ngModel)]="minValue" (keyup)="onChangeRangeInput(columnInfo.key,numberCriteriaModel,minValue,maxValue)"></p>
<p>Max value: <input type="number" [(ngModel)]="maxValue" (keyup)="onChangeRangeInput(columnInfo.key,numberCriteriaModel,minValue,maxValue)"></p>
  </div>
  <div class="custom-slider" >
    <ngx-slider (userChangeEnd)="onChangeRange(columnInfo.key,numberCriteriaModel,$event)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
  </div>
</div>


  <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="columnInfo.type==='Number' && numberCriteriaModel!='Number_Range'">
    <input type="input" [(ngModel)]="inputNumberValueModel" (keyup)="inputChanges(columnInfo.key,numberCriteriaModel,myNumberInput.value)" class="form-control-sm full-width" 
    #myNumberInput  placeholder="Type here..">
  </div>

  <select *ngIf="columnInfo.type==='Date'"  [(ngModel)]="dateCriteriaModel"
  #myDateCriteria (change)='onSelect(columnInfo.key,myDateCriteria.value,inputDateValueModel)'
  class="form-control-sm full-width">
    <option [value]="temp.value" *ngFor="  let temp of dateCriteria">
      {{ temp.label }}
    </option>
  </select>
  <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="columnInfo.type==='Date'">
    
    <div class="input-group">
      <input type="input" [(ngModel)]="inputDateValueModel" (ngModelChange)="inputChanges(columnInfo.key,dateCriteriaModel,myDateInput.value)"  class="form-control-sm full-width" 
      #myDateInput placeholder="yyyy-mm-dd"
      name="dp" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker"
      >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>