
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-slider .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    /* margin-left: 1px; */
    top: -10px;
    background-color: #333333;
    z-index: 3;
  }
.custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }
.custom-slider .ngx-slider .ngx-slider-selection {
    background: #333333 !important;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #333333 !important;
  background: #333333 !important;
}